* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

header {

    height: 64px;

}

nav {
    position: -webkit-sticky;
    position: fixed;
    top: 0;
    display: flex;
    height: 65px;
    background-color: transparent;
    align-items: center;
    z-index: 1000;
}

.nav-links {
    position: fixed;
    display: flex;
    visibility: hidden;
    background-color: rgba(198, 161, 207, 1);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0px;
    opacity: 0;
    transition: .3s;

}

.nav-links.open {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 3s;
    -moz-transition: opacity 3s;
    transition: .3s;
}

.nav-links .logo {
    display: flex;
    width: 50%;
    height: 100%;
    align-items: center;
}

.nav-links .logo-container {

    margin-left: 70%;
}
.nav-links .selection {
    display: flex;
    width: 50%;
    height: 100%;
    align-items: center;
}
.nav-links ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
}
.selection ul {
    margin-left: 10%;
    border-left: 2px solid white;
}
.nav-links li {
    display: flex;
    margin: 0 0 3% 0;
}

.nav-links li:nth-last-of-type(1) {
    margin-bottom: 0;
}

.nav-links li a {
    text-decoration: none;
    font-size: 30px;
    width: 100%;
    color: white;
    margin-left: 50px;

}



.hamburger {
    position: fixed;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right: 1%;
    z-index: 10020;
}

.line {
    display: block;
    width: 40px;
    height: 1px;
    background-color: white;
    transition: .3s;
    margin: 5px;
}

.line::before {
    content: "";
    display: block;
    width: 40px;
    height: 1px;
    background-color: white;
    margin-top: -10px;
    transition: .3s;
}

.line::after {
    content: "";
    display: block;
    width: 40px;
    height: 1px;
    background-color: white;
    margin-top: 20px;
    transition: .3s;
}

.line.openHam {
    display: block;
    width: 40px;
    height: 1px;
    background-color: transparent;
    opacity: 1;
    margin: 5px;
    transition: .3s;
}

.line.openHam::before {
    content: "";
    display: block;
    opacity: 1;
    height: 1px;
    background-color: white;
    transform: rotate(-45deg);
    margin-top: 0;
    transition: .3s;
}

.line.openHam::after {
    content: "";
    display: block;
    opacity: 1;
    height: 1px;
    background-color: white;
    transform: rotate(45deg);
    margin-top: 0;
    transition: .3s;
}




.promotion {
    position: relative;
    background-color: wheat;
    height: 100vh;
    display: flex;
    z-index: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.promotion .logo-container {
    position: absolute;
    top: 30%;
    transition: opacity 0.5s ease-in-out;
}

.promotion .promoSlogan {
    position: absolute;
    top: 50%;
    border-radius: 50%;
    padding: 7vh 0 6vh 0;
    height: 20vh;
    width: 20vh;
    text-align: center;
    background-color: turquoise;
}
.go-down{
    position: absolute;
    bottom: 2%;
    z-index: 103;
    animation-name: scrl-down;
    animation-duration: 1.4s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    transform-origin: center center;
}
.go-down .promoSlogan{
    position: relative;
    height: 40px;
    width: 40px;
    padding:0;
}

@keyframes scrl-down {
    0% { 
        opacity: 0;
        -webkit-transform: scale(1) translate(0, -10px);
        transform: scale(1) translate(0, -10px);	
    }
      60% { 
        opacity: 1;
    }
    100% { 
        opacity: 0;
        -webkit-transform: translate(0, 10px);
        transform: scale(1) translate(0, 10px);	
    }
}





.section1 {
    display: flex;
    position: relative;
    background-color: #ededed;
    flex-direction: column;
    padding: 60px 0 400px;
    z-index: 0;
}

.subject1 {
    border-radius: 50%;
    padding: 7vh 0 6vh 0;
    height: 20vh;
    width: 20vh;
    background-color: turquoise;
    text-align: center;
    margin: 5% auto 5% auto;
}



.section1 .content {
    position: relative;
    display: flex;
    width: 100%;
    margin-bottom: 5%;
}

.section1 .content .content-background {
    position: relative;
    background-color: rgb(174, 243, 255);
    height: 440px;
    width: 80%;
}

.section1 .content .box {
    background-color: white;
    box-shadow: 10px 10px 0 rgba(0, 0, 0, .03);
    position: absolute;
    padding: 60px 100px;
    right: 5%;
    top: 60px;
}

.section1 .content h3 {
    text-align: center;
    margin-bottom: 5%;
}


.end {   
    justify-content: flex-end;   
}

.end .content-background {
    position: relative;
    margin-left: 0;
    background-color: rgb(240, 192, 232);
    height: 440px;
    width: 80%;
}

.end .box-end {
    background-color: white;
    box-shadow: 10px 10px 0 rgba(0, 0, 0, .03);
    position: absolute;
    padding: 60px 100px;
    right: initial;
    left: 5%;
    top: 60px;
}

.end h3 {
    text-align: center;
    margin-bottom: 5%;
}

.section1 .content2 {
    position: relative;
    display: flex;
    width: 100%;
    margin-bottom: 5%;
}

.section1 .content2 .content-background {
    position: relative;
    margin-left: 0;
    background-color: rgb(247, 237, 105);
    height: 440px;
    width: 80%;
}

.section1 .content2 .box {
    background-color: white;
    box-shadow: 10px 10px 0 rgba(0, 0, 0, .03);
    position: absolute;
    padding: 60px 120px 60px 80px;
    right: 5%;
    top: 130px;
}

.section1 .content2 h3 {
    text-align: center;
    margin-bottom: 5%;
}

.circleTxt {
    float: left;
    border: 1px solid #ccc;
    border-radius: 200px;
    padding: 0 0;
    width: 277px;
    height: 277px;
    position: relative;
    text-align: center;
    margin: 0 -40px 0 0;
}
.brand {
    padding: 80px 0 150px;
    background: #fff;
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 0;
}

.contTitle {
    text-align: center;
    margin: 0 auto 40px;
    position: relative;
    z-index: 10;
}


.slick-prev {
    left: 23.5%;
}

.slick-next {
    right: 23.5%;
}

.slick-prev,
.slick-next {
    z-index: 200;
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 40px;
    height: 84px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer !important;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    right: 23.5%;
}
.slick div{
    height:512px;
}

.history {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 200, 160);
    flex-direction: column;
}

.history .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0 150px;
    width: 100%;
}

.history .content .list {
    width: 60%;
    padding: 80px;
    background-color: rgba(255, 95, 95, 0.308);
    border-radius: 20px;
}

.history .content .list .circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    margin-right: 50px;
    align-items: center;
    justify-content: center;
}
.history .content .list ul {
    list-style: none;
}

.history .content .list ul li {
    display: -webkit-flex;
    display: flex;
    align-items: baseline;
    margin-bottom: 30px;
}

.history-content {
    display: flex;
    flex-direction: column;
}

.history-content .row {
    display: flex;
    margin-bottom: 10px;
}

.info {
    background-color: white;
    position: relative;
    display: flex;
    padding: 80px 0 150px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-content {
    display: flex;
    width: 60%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info-title {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
}

.info-list {
    display: flex;
    border-bottom: 1px solid grey;
    padding: 26px 0 23px 0;
    width: 100%;

}

.info-list-date {
    width: 80px;
    margin-right: 5%;
}

.info-btn {
    margin-top: 5%;
    width: 30%;
    display: block;
    background: #ab7cb6;
    background-size: 6px auto;
    padding: 15px 0;
    text-align: center;
    color: #fff;
    text-decoration: none;
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-size: 100%;
    transition: 0.2s ease-out;
}

.map {
    background-color: rgba(99, 166, 253, 0.767);
    position: relative;
    display: flex;
    padding: 80px;
    align-items: center;
    justify-content: center;

}

.map-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.map-googleMap {
    width: 50%;
}

.map-enter {
    background-color: #fff;
    position: relative;
    margin-left: 10vw;
    width: 200px;
    height: 200px;
    border: none;
    border-radius: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.map-enter div {

    width: 100%;
}

.map-enter .profileBtn {
    display: block;
    background: blue;
    background-size: 6px auto;
    padding: 6px 15px 6px 10px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-size: 100%;
    letter-spacing: .1em;
    transition: 0.2s ease-out;
    position: absolute;
    bottom: -5px;
    width: 100px;
    z-index: 200;
    opacity: 1;
    box-shadow: 5px 5px 0 rgba(0, 0, 0, .04);
}

.lastSection {
    background-color: white;
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.footer {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.footer-contaniner {
    background-color: turquoise;
    padding: 90px 50px 90px;
    position: relative;
}

.select-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
}

.footer-select-list {
    list-style: none;
    display: flex;

}

.footer-select-list a {
    text-decoration: none;
}

.foorer-select {

    font-size: 18px;
    font-family: futura-pt, sans-serif;
    font-weight: 300;
}
.footer-select-list li{
    display:flex;
}
.footer-select-list li::after {
    content: "/";
    padding: 10px;
    vertical-align: middle;
}
.arrowUp{
    position: absolute;
    top:  -40px;
    right: 30px;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .nav-links {
        position: fixed;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .nav-links .logo {
        display: flex;
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
    }
    
    .nav-links .logo-container {
        margin-left: 0;
    }
    .nav-links .selection {
        display: flex;
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
    }

    .selection ul {
        margin-left: 0;
        border-left: 0;
        width: 100%;
    }

    .nav-links li {
        text-align: center;
        margin:0 ;
    }
    
    .nav-links li:nth-last-of-type(1) {
        margin-bottom: 0;
    }
    
    .nav-links li a {
        text-decoration: none;
        font-size: 30px;
        color: white;
        margin: auto;
    }
    
    
   

    
    .section1 {
        
        padding: 60px 0 200px;
        z-index: 0;
    }
    .section1 .content {
        position: relative;
        display: flex;
        width: 100%;
        margin-bottom: 80%;
    }
    .section1 .content .content-background {
        position: relative;
        background-color: rgb(174, 243, 255);
        height: 200px;
        width: 100%;
    }
    
    .section1 .content .box {
        display:flex;
        background-color: white;
        box-shadow: 10px 10px 0 rgba(0, 0, 0, .03);
        position: absolute;
        padding: 60px 10px;
        width: 90%;
        right: 50%;
        top:30%;
        align-items: center;
        flex-direction: column;
        transform: translateX(50%);
    }
    
    .section1 .content h3 {
        text-align: center;
        margin-bottom: 5%;
    }
    

    
    
    .end {   
        justify-content: flex-end;   
    }
    
    .end .content-background {
        position: relative;
        margin-left: 0;
        background-color: rgb(240, 192, 232);
        height: 440px;
        width: 80%;
    }
    
    .end .box-end {
        display:flex;
        align-items: center;
        flex-direction: column;
        background-color: white;
        box-shadow: 10px 10px 0 rgba(0, 0, 0, .03);
        position: absolute;
        padding: 60px 10px;
        width: 90%;
        left: 50%;
        top:30%;
        transform: translateX(-50%);
    }
    
    .end h3 {
        text-align: center;
        margin-bottom: 5%;
    }     

    .section1 .content2 .content-background {
        position: relative;
        margin-left: 0;
        background-color: rgb(247, 237, 105);
        height: 700px;
        width: 100%;
    }

    

    .section1 .content2 .box {
        background-color: white;
        box-shadow: 10px 10px 0 rgba(0, 0, 0, .03);
        position: absolute;
        padding: 60px 80px 60px 80px;
        right: 50%;
        top:10%;
        width:90%;
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transform: translateX(50%);
    }
    
    .section1 .content2 h3 {
        text-align: center;
        margin-bottom: 5%;
    }

    
    
    .circleTxt {
        float: initial;
        
        padding: 0 0;
        width: 197px;
        height: 197px;
        position: relative;
        text-align: center;
        margin: 0 0 0 0;
    }
    .down{
        
        margin: -40px 0 0 0;
    }
    .history-content {
       font-size: 12px;
    }
    

    .history .content .list {
        width: 90%;  
        padding: 80px 1% 80px;
    }
    .history .content .list .circle {
        width: 50px;
        height: 50px;
        margin-right: 20px;     
    }

    .circle-txt{
        font-size: small;
    }
    .history-content .row {
        display: inline-block;
    }
    .month{
        display: inline-block;
    }
    .month-content{
        width: 200px;
        display: inline-block;
        /* align-content: baseline; */
        vertical-align: text-top;
    }

    .info-content {
        display: flex;
        width: 80%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .map {
       
        padding: 20px;
        
    
    }


    .map-container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .map-googleMap {
        width: 95%;
    }
   
    .map-enter {
        background-color: #fff;
        position: relative;
        margin-left: 0;
        margin-bottom: 20px;
        width: 200px;
        height: 200px;
        border: none;
        border-radius: 50%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }

    .footer {
        flex-direction: column;
        justify-content: center;
    }
    .select-container {
        font-size: 12px;
        align-items: center;
    }
    .footer-select-list li::after {
        
        padding: 0 10px;
    }
}
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .nav-links {
        position: fixed;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .nav-links .logo {
        display: flex;
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
    }
    
    .nav-links .logo-container {
        margin-left: 0;
    }
    .nav-links .selection {
        display: flex;
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
    }

    .selection ul {
        margin-left: 0;
        border-left: 0;
        width: 100%;
    }

    .nav-links li {
        text-align: center;
        margin:0 ;
    }
    
    .nav-links li:nth-last-of-type(1) {
        margin-bottom: 0;
    }
    
    .nav-links li a {
        text-decoration: none;
        font-size: 30px;
        color: white;
        margin: auto;
    }
    
    
    .history .content .list {
        width: 90%;  
        padding: 80px 1% 80px;
    }



    
    .section1 {
        
        padding: 60px 0 200px;
        z-index: 0;
    }
    .section1 .content {
        position: relative;
        display: flex;
        width: 100%;
        margin-bottom: 30%;
    }
    .section1 .content .content-background {
        position: relative;
        background-color: rgb(174, 243, 255);
        height: 200px;
        width: 100%;
    }
    
    .section1 .content .box {
        display:flex;
        background-color: white;
        box-shadow: 10px 10px 0 rgba(0, 0, 0, .03);
        position: absolute;
        padding: 60px 100px;
        width: 90%;
        right: 50%;
        top:30%;
        align-items: center;
        flex-direction: column;
        transform: translateX(50%);
    }
    
    .section1 .content h3 {
        text-align: center;
        margin-bottom: 5%;
    }
    
    
    .end {   
        justify-content: flex-end;   
    }
    
    .end .content-background {
        position: relative;
        margin-left: 0;
        background-color: rgb(240, 192, 232);
        height: 440px;
        width: 80%;
    }
    
    .end .box-end {
        display:flex;
        align-items: center;
        flex-direction: column;
        background-color: white;
        box-shadow: 10px 10px 0 rgba(0, 0, 0, .03);
        position: absolute;
        padding: 60px 100px;
        width: 90%;
        left: 50%;
        top:30%;
        transform: translateX(-50%);
    }
    
    .end h3 {
        text-align: center;
        margin-bottom: 5%;
    }     

    .section1 .content2 .content-background {
        position: relative;
        margin-left: 0;
        background-color: rgb(247, 237, 105);
        height: 700px;
        width: 100%;
    }

    

    .section1 .content2 .box {
        background-color: white;
        box-shadow: 10px 10px 0 rgba(0, 0, 0, .03);
        position: absolute;
        padding: 60px 80px 60px 80px;
        right: 50%;
        top:10%;
        width:90%;
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transform: translateX(50%);
    }
    
    .section1 .content2 h3 {
        text-align: center; 
        margin-bottom: 5%;
    }
    .circleTxt-content{
        text-align: center;
    }
    
    
    .circleTxt {
       float: initial;
        padding: 0 0;
        width: 197px;
        height: 197px;
        position: relative;
        text-align: center;
        margin: 0 0 0 0;
    }
    .down{
        
        margin: -40px 0 0 0;
    }



    .info-content {
        display: flex;
        width: 80%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .map {
       
        padding: 20px;
        
    
    }


    .map-container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .map-googleMap {
        width: 95%;
    }
   
    .map-enter {
        background-color: #fff;
        position: relative;
        margin-left: 0;
        margin-bottom: 20px;
        width: 200px;
        height: 200px;
        border: none;
        border-radius: 50%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }


    .footer {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .select-container {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .footer-select-list li::after {
        padding: 0 10px;
    }
}
  
  /* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    /* .section1 {
        display: flex;
        position: relative;
        background-color: #ededed;
        flex-direction: column;
        padding: 60px 0 400px;
        z-index: 0;
    } */

    /* .subject1 {
        border-radius: 50%;
        padding: 7vh 0 6vh 0;
        height: 20vh;
        width: 20vh;
        background-color: turquoise;
        text-align: center;
        margin: 5% auto 5% auto;
    } */


    .nav-links {
        flex-direction: initial;
    }

    .selection ul {
        border-left: 2px solid white;
        width: 100%;
    }

    .nav-links li {
       text-align: initial;
        margin: 0 0 3% 20px ;
    }

    .section1 .content {
        margin-bottom: 5%;
    }

    .section1 .content .content-background {
        position: relative;
        background-color: rgb(174, 243, 255);
        height: 440px;
        width: 80%;
    }

    .section1 .content .box {
        width: auto;
        right: 5%;
        top: 60px;
        transform: initial;
    }
    .end .content-background {
        
        margin-left: 0;
        background-color: rgb(240, 192, 232);
        
    }

    .end .box-end {    
        padding: 60px 100px;
        right: initial;
        width: auto;
        left: 5%;
        top: 60px;
        transform: initial;
    }


    .section1 .content2 {
        position: relative;
        display: flex;
        width: 100%;
        margin-bottom: 5%;
    }

    .section1 .content2 .content-background {
        position: relative;
        margin-left: 0;
        background-color: rgb(247, 237, 105);
        height: 440px;
        width: 80%;
    }

    .section1 .content2 .box {
        padding: 60px 120px 60px 80px;
        right: 5%;
        top: 130px;
        transform: initial;
        display: inline-block;
        text-align: center;
    }


    .circleTxt {
        float: left;
       
        width: 277px;
        height: 277px;
        margin: 0 -40px 0 0;
    }

    .section1 .content2 .box:after {
        display: block;
        clear: both;
        content: "";
    }

    .brand {
        padding: 80px 0 150px;
        background: #fff;
        width: 100%;
        overflow: hidden;
        position: relative;
        z-index: 0;
    }

    .contTitle {
        text-align: center;
        margin: 0 auto 40px;
        position: relative;
        z-index: 10;
    }


    .slick-prev {
        left: 23.5%;
    }

    .slick-next {
        right: 23.5%;
    }

    .slick-prev,
    .slick-next {
        z-index: 200;
        font-size: 0;
        line-height: 0;
        position: absolute;
        top: 50%;
        display: block;
        width: 40px;
        height: 84px;
        padding: 0;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        cursor: pointer !important;
        color: transparent;
        border: none;
        outline: none;
        background: transparent;
        right: 23.5%;
    }
    .slick div{
        height:512px;
    }

    .history {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(255, 200, 160);
        flex-direction: column;
    }

    .history .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 80px 0 150px;
        width: 100%;
    }

    .history .content .list {
        width: 800px;
        padding: 80px;
        background-color: rgba(255, 95, 95, 0.308);
        border-radius: 20px;
    }

    .history .content .list .circle {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: white;
        display: flex;
        margin-right: 50px;
        align-items: center;
        justify-content: center;
    }
    .history .content .list ul {
        list-style: none;
    }

    .history .content .list ul li {
        display: -webkit-flex;
        display: flex;
        align-items: baseline;
        margin-bottom: 30px;
    }

    .history-content {
        display: flex;
        flex-direction: column;
    }

    .history-content .row {
        display: flex;
        margin-bottom: 10px;
    }

    .info {
        background-color: white;
        position: relative;
        display: flex;
        padding: 80px 0 150px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .info-content {
        display: flex;
        width: 60%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .info-title {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 10%;
    }

    .info-list {
        display: flex;
        border-bottom: 1px solid grey;
        padding: 26px 0 23px 0;
        width: 100%;

    }

    .info-list-date {
        width: 80px;
        margin-right: 5%;
    }

    .info-btn {
        margin-top: 5%;
        width: 30%;
        display: block;
        background: #ab7cb6;
        background-size: 6px auto;
        padding: 15px 0;
        text-align: center;
        color: #fff;
        text-decoration: none;
        font-family: futura-pt, sans-serif;
        font-weight: 400;
        font-size: 100%;
        transition: 0.2s ease-out;
    }



    .lastSection {
        background-color: white;
        padding-top: 10%;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .footer {
       flex-direction: initial;
    }

   
    .select-container {
        align-items: flex-end;
    }

    .footer-select-list li{
        display:flex;
    }
    .footer-select-list li::after {
        content: "/";
        vertical-align: middle;
    }
 
    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}